# Cloudflare R2 Configuration
# O Endpoint S3 fornecido: https://ade6ce43fa3f7c4b7d4d3e821c8b37e0.r2.cloudflarestorage.com
R2_ENDPOINT=https://ade6ce43fa3f7c4b7d4d3e821c8b37e0.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=seu_access_key_id_aqui
R2_SECRET_ACCESS_KEY=seu_secret_access_key_aqui
R2_BUCKET_NAME=unjoya
R2_PUBLIC_URL=https://sua-url-publica-ou-subdominio.r2.dev

# Stripe Payments Configuration
STRIPE_PUBLISHABLE_KEY=sua_publishable_key_aqui
STRIPE_SECRET_KEY=sua_secret_key_aqui
